@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
}

#App {
  display: flex;
  flex-flow: column;
}

// .navbar_structure {
//   background-color: azure;
// }

// .component_structure {
//   background-color: blanchedalmond;
//   border: 1px dashed black;
//   padding: 10px;
//   text-align: center;
// }